<% @title = "トップページ" %>
<h1><%= @title %></h1>

<tr><th>残高: </th></tr><td><%= @balance %> sBTC</td>
<br>
<br>
<tr><th>送受信履歴</th></tr><br>

<table border="1">
  <thead>
    <tr>
      <th>TxID</th>
      <th>送受</th>
      <th>送金額</th>
      <th>送金時刻</th>
      <th>承認数</th>
      <th>ブロック高</th>
      <th>ブロックハッシュ</th>
    </tr>
  </thead>

  <tbody>
    <% for n in 0..@listtransactions.length-1 %>
      <tr>
        <% i = @listtransactions.length-1 - n%>
        <td><%= link_to @listtransactions[i]['txid'], "https://explorer.bc-2.jp/tx/" + @listtransactions[i]['txid'], target: :_blank %></td>
        <% if @listtransactions[i]['category'] == "receive" %><td>受取</td>
        <% elsif @listtransactions[i]['category'] == "send" %><td>送金</td>
        <% end %>
        <td><%= @listtransactions[i]['amount'] %> BTC</td>
        <td><%= Time.at(@listtransactions[i]['time']) %></td>
        <td><%= @listtransactions[i]['confirmations'] %></td>
        <%if @listtransactions[i]['blockheight'] %>
          <td><%= @listtransactions[i]['blockheight'] %></td>
        <% else %><td>未承認</td><% end %>
        <%if @listtransactions[i]['blockhash'] %>
          <td><%= link_to @listtransactions[i]['blockhash'], "https://explorer.bc-2.jp/block/" + @listtransactions[i]['blockhash'], target: :_blank %></td>
        <% else %><td>未承認</td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/links" %>