<% @title = "送金" %>
<h1><%= @title %></h1>

<tr><th>残高: </th></tr><td><%= @balance %> sBTC</td>
<br>
<br>

<%= form_tag({ :controller => 'wallet', :action => 'sent' },{ :method => :post }) do %>
    <%= label_tag :address %> 
    <%= text_field :sending, :address %><br>
    <%= label_tag :amount %> 
    <%= number_field :sending, :amount, step: "0.00000001" %><br>
    <%= label_tag :fee %>
    <%= text_field :sending, :fee %><br>
    <%= submit_tag "送金"%>
<% end %>


<%= render "shared/links" %>
